# Completing actor data

In [1]:
from src.data.transform_data import* 
from src.models.movie_success_model import* 
from src.models.actor_success_model import*
from webscraping.webscraper import*

## 1) Load character data from csv

In [2]:
raw_df = raw_data()
df = clean_data(raw_df)
movie_success_index(df)
actor_df = actor_data(df)
actor_data = actor_success_index(actor_df)
actor_data

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.78,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,/m/02ctzb,18.0,9.362255
...,...,...,...,...,...,...
j._kenneth_campbell,1947-07-22,M,NaN,None,43.0,0.714754
evelyn_keyes,1916-11-20,F,1.63,None,72.0,0.700949
james_dixon,None,M,NaN,None,NaN,0.700949
reilly_murphy,None,None,NaN,None,NaN,0.251820
peter_fonda,1940-02-23,M,1.91,/m/07mqps,41.0,0.000000

## 3) Activate scraper

In [3]:
test_sample = actor_data[:50]
spider = ActorScraper(test_sample)
test_sample = spider.run_scraping()
test_sample

/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:242: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Gender'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:243: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'University'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Theater'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Sports'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Birth City'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:247: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Date of Birth'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:248: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Citizenship'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:249: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Number of Children'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Career Start'] = None
 92%|█████████▏| 46/50 [01:49<00:08,  2.23s/it]

Error fetching data for Jackie Chan: 'NoneType' object has no attribute 'strip'

100%|██████████| 50/50 [02:00<00:00,  2.40s/it]

Scraping completed.

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index,Gender,University,Theater,Sports,Birth City,Date of Birth,Citizenship,Number of Children,Career Start
Actor name,,,,,,,,,,,,,,,
Denzel Washington,1954-12-28,M,1.840,/m/0x67,26.0,10.000000,Male,Fordham University BAAmerican Conservatory The...,Yes,Basketball,Mount Vernon New York US,1954-12-28,None,4,1975
Matt Damon,1970-10-08,M,1.780,/m/0cnvdq1,18.0,9.912690,Male,Harvard University dropped out,Yes,None,Cambridge Massachusetts US,1970-10-08,None,4,1987
Tom Hanks,1956-07-09,M,1.830,/m/02p4q5p,27.0,9.741555,Male,Chabot College,Yes,None,Concord California US,1956-07-09,"United States, Greece1",4,1977
Eddie Murphy,1961-04-03,M,1.750,/m/0x67,21.0,9.415060,Male,None,None,None,New York City US,1961-04-03,None,10,1976
Tom Cruise,1962-07-03,M,1.700,/m/02ctzb,18.0,9.362255,Male,None,None,Football,Syracuse New York US,1962-07-03,None,3,1980
Frank Welker,1946-03-12,M,1.730,None,38.0,8.787846,Male,Santa Monica College,None,None,Denver Colorado US,1946-03-12,None,None,1967
Harrison Ford,1942-07-13,M,1.850,/m/01qhm_,38.0,8.450475,Male,None,None,None,Chicago Illinois US,1942-07-13,None,5,1964
James Woods,1947-04-18,M,1.803,None,35.0,8.180804,None,None,Yes,None,Vernal Utah US,1947-04-18,None,None,1969
Michelle Pfeiffer,1958-04-29,F,1.710,/m/065b6q,21.0,8.174009,Female,None,None,None,Santa Ana California US,1958-04-29,None,2,1978
Trey Parker,1969-10-19,M,1.850,None,27.0,8.156354,Male,University of Colorado Boulder BA,Yes,None,Conifer Colorado US,1969-10-19,None,1,1992
Samuel L. Jackson,1948-12-21,M,1.890,/m/0x67,39.0,8.129855,Male,Morehouse College BA,Yes,None,Washington DC US,1948-12-21,United States Gabon,1,1972
Richard Jenkins,1947-05-04,M,1.850,None,38.0,8.063021,Male,Illinois Wesleyan University,None,None,DeKalb Illinois US,1947-05-04,None,2,1974
Danny Devito,1944-11-17,M,1.520,/m/0xnvg,39.0,8.004749,Male,American Academy of Dramatic Arts,Yes,None,Neptune New Jersey US,1944-11-17,None,3,1969
Kirsten Dunst,1982-04-30,F,1.700,/m/01qhm_,6.0,7.966812,Female,None,None,None,Point Pleasant New Jersey US,1982-04-30,None,2,1987
Chris Rock,1965-02-07,M,1.800,/m/0x67,22.0,7.965746,Male,None,None,None,Andrews South Carolina,1965-02-07,None,2,1984
Robert De Niro,1943-08-17,M,1.770,/m/0xnvg,37.0,7.958091,Male,None,None,None,New York City US,1943-08-17,United StatesItaly,7,1963
George Clooney,1961-05-06,M,1.800,/m/033tf_,34.0,7.915680,Male,Northern Kentucky University,None,Basketball,Lexington Kentucky US,1961-05-06,None,2,1978
Jim Carrey,1962-01-17,M,1.867,/m/0g8_vp,23.0,7.826027,Male,None,None,None,Newmarket Ontario Canada,1962-01-17,"Canada, United States1",1,1977
Kevin Costner,1955-01-18,M,1.850,/m/09vc4s,30.0,7.776851,Male,California State University Fullerton BA,None,Baseball,Lynwood California US,1955-01-18,None,7,1978
Stanley Tucci,1960-11-11,M,1.721,/m/0xnvg,29.0,7.767929,Male,State University of New York Purchase BFA,None,Soccer,Peekskill New York US,1960-11-11,None,5,1982
Clint Eastwood,1930-05-31,M,1.880,/m/09vc4s,50.0,7.738973,Male,None,None,None,San Francisco California US,1930-05-31,None,8,1963
Jonah Hill,1983-12-20,M,1.700,/m/041rx,21.0,7.732380,Male,The New SchoolBard CollegeUniversity of Colora...,None,None,Los Angeles California US,1983-12-20,None,1,2004
Nicole Kidman,1967-06-20,F,1.791,/m/03bkbh,23.0,7.718323,Male,None,Yes,Ballet,Honolulu Hawaii US,1967-06-20,Australia from parentsUnited States by birthplace,4,1983
Arnold Schwarzenegger,1947-07-30,M,1.880,/m/019lrz,34.0,7.692562,Male,"Santa Monica College, UCLA Extension, Universi...",Yes,Dance,Austria,1947-07-30,AustriaUnited States,5,None
Mark Wahlberg,1971-06-05,M,1.700,/m/065b6q,22.0,7.671580,Male,None,None,None,Boston Massachusetts US,1971-06-05,None,4,1984
Hank Azaria,1964-04-25,M,1.820,/m/048z7l,31.0,7.662614,Male,Tufts University BAAmerican Academy of Dramati...,Yes,None,New York City US,1964-04-25,None,1,1986
Sylvester Stallone,1946-07-06,M,1.770,/m/0xnvg,35.0,7.551910,Male,University of Miami BFA,None,Dance,New York City US,1946-07-06,None,5,1968
Steve Carell,1962-08-16,M,1.750,/m/02ctzb,29.0,7.517169,Male,Denison University BA,None,None,Concord Massachusetts US,1962-08-16,None,2,1989
Jack Nicholson,1937-04-22,M,1.770,/m/0xnvg,43.0,7.505649,Male,Manasquan High School,Yes,None,Neptune City New Jersey US,1937-04-22,None,6,1955
Val Kilmer,1959-12-31,M,1.830,/m/07bch9,24.0,7.478978,Male,Juilliard School BFA,None,None,Los Angeles California US,1959-12-31,None,2,1981
Harry Shearer,1943-12-23,M,1.670,/m/041rx,39.0,7.397153,Male,University of California Los Angeles BA,Yes,None,Los Angeles California US,1943-12-23,None,None,1950
Hugh Jackman,1968-10-12,M,1.890,/m/0bbz66j,31.0,7.390429,Male,University of Technology Sydney BAEdith Cowan ...,Yes,None,Sydney New South Wales Australia,1968-10-12,AustraliaUnited Kingdom,2,1994
Wesley Snipes,1962-07-31,M,1.753,/m/0x67,26.0,7.356718,Male,State University of New York at Purchase BFA,None,None,Orlando Florida US,1962-07-31,None,6,1985
Halle Berry,1966-08-14,F,1.680,/m/02ctzb,25.0,7.338532,Female,Cuyahoga Community College,None,None,Cleveland Ohio US,1966-08-14,None,2,1989
Jean-Claude Van Damme,1960-10-18,M,1.780,/m/02p656s,23.0,7.333228,Male,None,None,Martial arts,,1960-10-18,None,3,1976
Edward Norton,1969-08-18,M,1.830,None,26.0,7.317067,Male,Yale University BA,Yes,None,Boston Massachusetts US,1969-08-18,None,1,1993
Ewan McGregor,1971-03-31,M,1.790,/m/03lmx1,22.0,7.269085,None,Guildhall School of Music and Drama,Yes,None,Perth Scotland,1971-03-31,"United Kingdom, United States",5,1992
John Ratzenberger,1947-04-06,M,1.750,None,35.0,7.199750,Male,Sacred Heart University,None,None,Bridgeport Connecticut US,1947-04-06,None,2,1973
Jeff Bridges,1949-12-04,M,1.850,None,30.0,7.196568,Male,None,None,None,Los Angeles California US,1949-12-04,None,3,1951
Dennis Quaid,1954-04-09,M,1.830,/m/0fqz6,26.0,7.170899,Male,University of Houston,None,Dance,Houston Texas US,1954-04-09,None,3,1975
Helena Bonham Carter,1966-05-26,F,1.600,/m/02w7gg,19.0,7.156795,Female,South Hampstead High SchoolWestminster School,None,None,Islington London England,1966-05-26,None,2,1983
Scarlett Johansson,1984-11-22,F,1.630,/m/013b6_,11.0,7.152288,Female,None,Yes,Dance,New York City US,1984-11-22,United StatesDenmark,2,1994
Tommy Lee Jones,1946-09-15,M,1.830,None,36.0,7.133335,Male,Harvard University AB,None,None,San Saba Texas US,1946-09-15,None,2,1969
Martin Lawrence,1965-04-16,M,1.710,/m/0x67,26.0,7.132028,Male,None,None,None,Frankfurt,1965-04-16,None,3,1987
Catherine O%27Hara,1954-03-04,F,1.630,/m/0g8_vp,29.0,7.125179,Female,None,None,None,Toronto Ontario Canada,1954-03-04,CanadaUnited States,2,1974
Bruce McGill,1950-07-11,M,1.760,None,38.0,7.102583,Male,University of Texas at Austin BA Drama,None,None,San Antonio Texas US,1950-07-11,None,None,1977
Jackie Chan,1954-04-07,M,1.740,/m/03bx0k4,27.0,6.991325,Not available,Not available,Not available,Not available,Not available,Not available,Not available,Not available,Not available
James Cromwell,1940-01-27,M,2.010,None,44.0,6.988589,Male,Carnegie Mellon University BFA,None,None,Los Angeles California US,1940-01-27,None,3,1974
Hugo Weaving,1960-04-04,M,1.880,None,35.0,6.987011,Male,National Institute of Dramatic Art BFA,None,None,Ibadan British Nigeria,1960-04-04,None,2,1980
Steve Martin,1945-08-14,M,1.830,None,36.0,6.972567,Male,Santa Ana CollegeCalifornia State University L...,Yes,None,Waco Texas,1945-08-14,None,1,1966