# Completing actor data

In [7]:
from src.data.transform_data import* 
from src.models.movie_success_model import* 
from src.models.actor_success_model import*
from webscraping.webscraper import*

## 1) Load character data from csv

In [8]:
character_data = pd.read_csv('data/character.metadata.tsv',
                             sep='\t', 
                             names= ['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date', 'Character name', 'Actor date of birth', 'Actor gender', 
                                        'Actor height', 'Actor ethnicity', 'Actor name', 'Actor age at movie release', 'Freebase character/actor map ID', 'Freebase character ID', 'Freebase actor ID'])
character_data

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character name,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at movie release,Freebase character/actor map ID,Freebase character ID,Freebase actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [ ]:
def actor_data(clean_df):
    merged_df = pd.merge(load_character_data(), clean_df, on='Freebase movie ID', how='inner')
    merged_df['Movie star'] = merged_df['Movie star'].str.lower().str.replace(' ', '_')
    merged_df['Actor name'] = merged_df['Actor name'].str.lower().str.replace(' ', '_')
    merged_df = merged_df.dropna(subset=['Actor name'])
    merged_df['Movie Count'] = merged_df.groupby('Actor name')['Movie name'].transform('count')

    return merged_df

In [ ]:
raw_df = raw_data()
df = clean_data(raw_df)
movie_success_index(df)
actor_df = actor_data(df)
actor_df = actor_success_index(actor_df)

,Wikipedia movie ID,Freebase movie ID,Movie release date_x,Character name,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at movie release,...,Number of nomination,Nomination winner,Profitability,Log Profitability,Profitability score,Log Revenue,Revenue score,Oscar Multiplication Factor,Movie Success Index,Movie Count
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,wanda_de_jesus,42.0,...,0.0,NaN,0.500387,-0.692374,3.832981,7.146464,5.681627,1.0,3.840090,4
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,natasha_henstridge,27.0,...,0.0,NaN,0.500387,-0.692374,3.832981,7.146464,5.681627,1.0,3.840090,6
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,ice_cube,32.0,...,0.0,NaN,0.500387,-0.692374,3.832981,7.146464,5.681627,1.0,3.840090,10
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,jason_statham,33.0,...,0.0,NaN,0.500387,-0.692374,3.832981,7.146464,5.681627,1.0,3.840090,18
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,clea_duvall,23.0,...,0.0,NaN,0.500387,-0.692374,3.832981,7.146464,5.681627,1.0,3.840090,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52828,25920477,/m/0b6lqyd,2011-03-11,Minister Sudoku,NaN,M,NaN,NaN,lincoln_ward,NaN,...,0.0,NaN,4.604147,1.526957,5.350048,8.168299,7.601900,1.0,5.426546,1
52829,25920477,/m/0b6lqyd,2011-03-11,College Student,NaN,M,NaN,NaN,kyle_gatehouse,NaN,...,0.0,NaN,4.604147,1.526957,5.350048,8.168299,7.601900,1.0,5.426546,1
52830,25920477,/m/0b6lqyd,2011-03-11,Soda Can Guy,NaN,M,NaN,NaN,albert_kwan,NaN,...,0.0,NaN,4.604147,1.526957,5.350048,8.168299,7.601900,1.0,5.426546,1
52831,25920477,/m/0b6lqyd,2011-03-11,Aviator Glasses Guy,1979-10-30,M,NaN,NaN,james_a._woods,31.0,...,0.0,NaN,4.604147,1.526957,5.350048,8.168299,7.601900,1.0,5.426546,1
52833,25920477,/m/0b6lqyd,2011-03-11,NaN,1954-10-09,M,1.829,/m/0ffjqy,scott_bakula,56.0,...,0.0,NaN,4.604147,1.526957,5.350048,8.168299,7.601900,1.0,5.426546,9

## 3) Activate scraper

In [4]:
test_sample = actor_df[:50]
spider = ActorScraper(test_sample)
test_sample = spider.run_scraping()
test_sample

/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:242: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Gender'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:243: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'University'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Theater'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Sports'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Birth City'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:247: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Date of Birth'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:248: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Citizenship'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:249: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Number of Children'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Career Start'] = None
 92%|█████████▏| 46/50 [01:46<00:07,  1.91s/it]

Error fetching data for Jackie Chan: 'NoneType' object has no attribute 'strip'

100%|██████████| 50/50 [01:56<00:00,  2.33s/it]

Scraping completed.

,Cumulative Score,Actor Score Index,Gender,University,Theater,Sports,Birth City,Date of Birth,Citizenship,Number of Children,Career Start
Actor name,,,,,,,,,,,
Denzel Washington,3.327946,10.000000,Male,Fordham University BAAmerican Conservatory The...,Yes,Basketball,Mount Vernon New York US,1954-12-28,None,4,1975
Matt Damon,3.302120,9.912690,Male,Harvard University dropped out,Yes,None,Cambridge Massachusetts US,1970-10-08,None,4,1987
Tom Hanks,3.251497,9.741555,Male,Chabot College,Yes,None,Concord California US,1956-07-09,"United States, Greece1",4,1977
Eddie Murphy,3.154919,9.415060,Male,None,None,None,New York City US,1961-04-03,None,10,1976
Tom Cruise,3.139299,9.362255,Male,None,None,Football,Syracuse New York US,1962-07-03,None,3,1980
Frank Welker,2.969387,8.787846,Male,Santa Monica College,None,None,Denver Colorado US,1946-03-12,None,None,1967
Harrison Ford,2.869591,8.450475,Male,None,None,None,Chicago Illinois US,1942-07-13,None,5,1964
James Woods,2.789821,8.180804,None,None,Yes,None,Vernal Utah US,1947-04-18,None,None,1969
Michelle Pfeiffer,2.787811,8.174009,Female,None,None,None,Santa Ana California US,1958-04-29,None,2,1978
Trey Parker,2.782589,8.156354,Male,University of Colorado Boulder BA,Yes,None,Conifer Colorado US,1969-10-19,None,1,1992
Samuel L. Jackson,2.774750,8.129855,Male,Morehouse College BA,Yes,None,Washington DC US,1948-12-21,United States Gabon,1,1972
Richard Jenkins,2.754981,8.063021,Male,Illinois Wesleyan University,None,None,DeKalb Illinois US,1947-05-04,None,2,1974
Danny Devito,2.737744,8.004749,Male,American Academy of Dramatic Arts,Yes,None,Neptune New Jersey US,1944-11-17,None,3,1969
Kirsten Dunst,2.726522,7.966812,Female,None,None,None,Point Pleasant New Jersey US,1982-04-30,None,2,1987
Chris Rock,2.726206,7.965746,Male,None,None,None,Andrews South Carolina,1965-02-07,None,2,1984
Robert De Niro,2.723942,7.958091,Male,None,None,None,New York City US,1943-08-17,United StatesItaly,7,1963
George Clooney,2.711396,7.915680,Male,Northern Kentucky University,None,Basketball,Lexington Kentucky US,1961-05-06,None,2,1978
Jim Carrey,2.684877,7.826027,Male,None,None,None,Newmarket Ontario Canada,1962-01-17,"Canada, United States1",1,1977
Kevin Costner,2.670330,7.776851,Male,California State University Fullerton BA,None,Baseball,Lynwood California US,1955-01-18,None,7,1978
Stanley Tucci,2.667691,7.767929,Male,State University of New York Purchase BFA,None,Soccer,Peekskill New York US,1960-11-11,None,5,1982
Clint Eastwood,2.659126,7.738973,Male,None,None,None,San Francisco California US,1930-05-31,None,8,1963
Jonah Hill,2.657176,7.732380,Male,The New SchoolBard CollegeUniversity of Colora...,None,None,Los Angeles California US,1983-12-20,None,1,2004
Nicole Kidman,2.653018,7.718323,Male,None,Yes,Ballet,Honolulu Hawaii US,1967-06-20,Australia from parentsUnited States by birthplace,4,1983
Arnold Schwarzenegger,2.645397,7.692562,Male,"Santa Monica College, UCLA Extension, Universi...",Yes,Dance,Austria,1947-07-30,AustriaUnited States,5,None
Mark Wahlberg,2.639191,7.671580,Male,None,None,None,Boston Massachusetts US,1971-06-05,None,4,1984
Hank Azaria,2.636539,7.662614,Male,Tufts University BAAmerican Academy of Dramati...,Yes,None,New York City US,1964-04-25,None,1,1986
Sylvester Stallone,2.603792,7.551910,Male,University of Miami BFA,None,Dance,New York City US,1946-07-06,None,5,1968
Steve Carell,2.593515,7.517169,Male,Denison University BA,None,None,Concord Massachusetts US,1962-08-16,None,2,1989
Jack Nicholson,2.590108,7.505649,Male,Manasquan High School,Yes,None,Neptune City New Jersey US,1937-04-22,None,6,1955
Val Kilmer,2.582219,7.478978,Male,Juilliard School BFA,None,None,Los Angeles California US,1959-12-31,None,2,1981
Harry Shearer,2.558014,7.397153,Male,University of California Los Angeles BA,Yes,None,Los Angeles California US,1943-12-23,None,None,1950
Hugh Jackman,2.556025,7.390429,Male,University of Technology Sydney BAEdith Cowan ...,Yes,None,Sydney New South Wales Australia,1968-10-12,AustraliaUnited Kingdom,2,1994
Wesley Snipes,2.546053,7.356718,Male,State University of New York at Purchase BFA,None,None,Orlando Florida US,1962-07-31,None,6,1985
Halle Berry,2.540674,7.338532,Female,Cuyahoga Community College,None,None,Cleveland Ohio US,1966-08-14,None,2,1989
Jean-Claude Van Damme,2.539105,7.333228,Male,None,None,Martial arts,,1960-10-18,None,3,1976
Edward Norton,2.534325,7.317067,Male,Yale University BA,Yes,None,Boston Massachusetts US,1969-08-18,None,1,1993
Ewan McGregor,2.520131,7.269085,None,Guildhall School of Music and Drama,Yes,None,Perth Scotland,1971-03-31,"United Kingdom, United States",5,1992
John Ratzenberger,2.499622,7.199750,Male,Sacred Heart University,None,None,Bridgeport Connecticut US,1947-04-06,None,2,1973
Jeff Bridges,2.498681,7.196568,Male,None,None,None,Los Angeles California US,1949-12-04,None,3,1951
Dennis Quaid,2.491088,7.170899,Male,University of Houston,None,Dance,Houston Texas US,1954-04-09,None,3,1975
Helena Bonham Carter,2.486916,7.156795,Female,South Hampstead High SchoolWestminster School,None,None,Islington London England,1966-05-26,None,2,1983
Scarlett Johansson,2.485582,7.152288,Female,None,Yes,Dance,New York City US,1984-11-22,United StatesDenmark,2,1994
Tommy Lee Jones,2.479976,7.133335,Male,Harvard University AB,None,None,San Saba Texas US,1946-09-15,None,2,1969
Martin Lawrence,2.479589,7.132028,Male,None,None,None,Frankfurt,1965-04-16,None,3,1987
Catherine O%27Hara,2.477563,7.125179,Female,None,None,None,Toronto Ontario Canada,1954-03-04,CanadaUnited States,2,1974
Bruce McGill,2.470879,7.102583,Male,University of Texas at Austin BA Drama,None,None,San Antonio Texas US,1950-07-11,None,None,1977
Jackie Chan,2.437969,6.991325,Not available,Not available,Not available,Not available,Not available,Not available,Not available,Not available,Not available
James Cromwell,2.437160,6.988589,Male,Carnegie Mellon University BFA,None,None,Los Angeles California US,1940-01-27,None,3,1974
Hugo Weaving,2.436693,6.987011,Male,National Institute of Dramatic Art BFA,None,None,Ibadan British Nigeria,1960-04-04,None,2,1980
Steve Martin,2.432420,6.972567,Male,Santa Ana CollegeCalifornia State University L...,Yes,None,Waco Texas,1945-08-14,None,1,1966