# Completing actor data

In [1]:
from src.data.transform_data import* 
from src.models.movie_success_model import* 
from src.models.actor_success_model import*
from webscraping.webscraper import*

## 1) Load actor data from csv

In [2]:
actor_df = pd.read_csv('data/actor_data.csv', index_col=0)
actor_df

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.78,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,/m/02ctzb,18.0,9.362255
...,...,...,...,...,...,...
j._kenneth_campbell,1947-07-22,M,NaN,NaN,43.0,0.714754
evelyn_keyes,1916-11-20,F,1.63,NaN,72.0,0.700949
james_dixon,NaN,M,NaN,NaN,NaN,0.700949
reilly_murphy,NaN,NaN,NaN,NaN,NaN,0.251820
peter_fonda,1940-02-23,M,1.91,/m/07mqps,41.0,0.000000

## 2) Set sample size

In [3]:
test_sample = actor_df[:10]
test_sample

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.840,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.780,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.830,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.750,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.700,/m/02ctzb,18.0,9.362255
frank_welker,1946-03-12,M,1.730,NaN,38.0,8.787846
harrison_ford,1942-07-13,M,1.850,/m/01qhm_,38.0,8.450475
james_woods,1947-04-18,M,1.803,NaN,35.0,8.180804
michelle_pfeiffer,1958-04-29,F,1.710,/m/065b6q,21.0,8.174009
trey_parker,1969-10-19,M,1.850,NaN,27.0,8.156354

## 3) Run the scraper

In [ ]:
spider = ActorScraper(test_sample)
test_sample = spider.run_scraping()
test_sample

/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:314: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Gender'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'University'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:316: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Theater'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Sports'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:318: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Birth City'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Date of Birth'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:320: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Citizenship'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:321: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Number of Children'] = None
/Users/mael/Desktop/EPFL/MA1/ADA/group_projects_ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Career Start'] = None
 50%|█████     | 5/10 [00:12<00:12,  2.53s/it]