# Completing actor data

## 1) Load actor data from csv

In [1]:
import pandas as pd

actor_df = pd.read_csv('data/actor_data.csv', index_col=0)
actor_df

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.78,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,/m/02ctzb,18.0,9.362255
...,...,...,...,...,...,...
j._kenneth_campbell,1947-07-22,M,NaN,NaN,43.0,0.714754
evelyn_keyes,1916-11-20,F,1.63,NaN,72.0,0.700949
james_dixon,NaN,M,NaN,NaN,NaN,0.700949
reilly_murphy,NaN,NaN,NaN,NaN,NaN,0.251820
peter_fonda,1940-02-23,M,1.91,/m/07mqps,41.0,0.000000

## 2) Set sample size

In [2]:
#test_sample = actor_df.dropna(subset='Actor height').copy()
test_sample = actor_df.iloc[:5].copy()

## 3) Convert the ethnicity IDs

In [3]:
from src.converter import converter
from tqdm import tqdm

tqdm.pandas() # for progress_apply

test_sample.loc[:, 'Actor ethnicity'] = test_sample['Actor ethnicity'].progress_apply(converter.get_ethnicity)
test_sample

100%|██████████| 5/5 [00:01<00:00,  2.86it/s]

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,African Americans,26.0,10.000000
matt_damon,1970-10-08,M,1.78,Scandinavian Americans,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,Portuguese Americans,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,African Americans,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,White people,18.0,9.362255

## 4) Run the scraper

In [4]:
from src.webscraping import spider

spider.run_scraping(test_sample)
test_sample

100%|██████████| 5/5 [00:13<00:00,  2.78s/it]

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index,Gender,University,Theater,Sports,Birth City,Date of Birth,Citizenship,Number of Children,Career Start
Actor name,,,,,,,,,,,,,,,
Denzel Washington,1954-12-28,M,1.84,African Americans,26.0,10.000000,Male,Fordham University BAAmerican Conservatory The...,Yes,Basketball,Mount Vernon New York US,1954-12-28,None,4,1975
Matt Damon,1970-10-08,M,1.78,Scandinavian Americans,18.0,9.912690,Male,Harvard University dropped out,Yes,None,Cambridge Massachusetts US,1970-10-08,None,4,1987
Tom Hanks,1956-07-09,M,1.83,Portuguese Americans,27.0,9.741555,Male,Chabot College,Yes,None,Concord California US,1956-07-09,"United States, Greece1",4,1977
Eddie Murphy,1961-04-03,M,1.75,African Americans,21.0,9.415060,Male,None,None,None,New York City US,1961-04-03,None,10,1976
Tom Cruise,1962-07-03,M,1.70,White people,18.0,9.362255,Male,None,None,Football,Syracuse New York US,1962-07-03,None,3,1980

In [5]:
#test_sample.to_csv('data/actor_data_scraped.csv')