# Completing actor data

In [11]:
from src.data.transform_data import* 
from src.models.movie_success_model import* 
from src.models.actor_success_model import*
from webscraping.webscraper import*

## 1) Load actor data from csv

In [12]:
actor_df = pd.read_csv('data/actor_data.csv', index_col=0)
actor_df

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.84,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.78,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.83,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.75,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.70,/m/02ctzb,18.0,9.362255
...,...,...,...,...,...,...
j._kenneth_campbell,1947-07-22,M,NaN,NaN,43.0,0.714754
evelyn_keyes,1916-11-20,F,1.63,NaN,72.0,0.700949
james_dixon,NaN,M,NaN,NaN,NaN,0.700949
reilly_murphy,NaN,NaN,NaN,NaN,NaN,0.251820
peter_fonda,1940-02-23,M,1.91,/m/07mqps,41.0,0.000000

## 2) Set sample size

In [13]:
test_sample = actor_df[:20]
test_sample

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index
Actor name,,,,,,
denzel_washington,1954-12-28,M,1.840,/m/0x67,26.0,10.000000
matt_damon,1970-10-08,M,1.780,/m/0cnvdq1,18.0,9.912690
tom_hanks,1956-07-09,M,1.830,/m/02p4q5p,27.0,9.741555
eddie_murphy,1961-04-03,M,1.750,/m/0x67,21.0,9.415060
tom_cruise,1962-07-03,M,1.700,/m/02ctzb,18.0,9.362255
frank_welker,1946-03-12,M,1.730,NaN,38.0,8.787846
harrison_ford,1942-07-13,M,1.850,/m/01qhm_,38.0,8.450475
james_woods,1947-04-18,M,1.803,NaN,35.0,8.180804
michelle_pfeiffer,1958-04-29,F,1.710,/m/065b6q,21.0,8.174009
trey_parker,1969-10-19,M,1.850,NaN,27.0,8.156354
samuel_l._jackson,1948-12-21,M,1.890,/m/0x67,39.0,8.129855
richard_jenkins,1947-05-04,M,1.850,NaN,38.0,8.063021
danny_devito,1944-11-17,M,1.520,/m/0xnvg,39.0,8.004749
kirsten_dunst,1982-04-30,F,1.700,/m/01qhm_,6.0,7.966812
chris_rock,1965-02-07,M,1.800,/m/0x67,22.0,7.965746
robert_de_niro,1943-08-17,M,1.770,/m/0xnvg,37.0,7.958091
george_clooney,1961-05-06,M,1.800,/m/033tf_,34.0,7.915680
jim_carrey,1962-01-17,M,1.867,/m/0g8_vp,23.0,7.826027
kevin_costner,1955-01-18,M,1.850,/m/09vc4s,30.0,7.776851
stanley_tucci,1960-11-11,M,1.721,/m/0xnvg,29.0,7.767929

## 3) Run the scraper

In [14]:
spider = ActorScraper(test_sample)
test_sample = spider.run_scraping()
test_sample

/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:314: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Gender'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'University'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:316: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Theater'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Sports'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:318: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Birth City'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Date of Birth'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:320: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Citizenship'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:321: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Number of Children'] = None
/Users/aiden/Desktop/EPFL/Master/M - ADA/ada-2024-project-sigma-squad/webscraping/webscraper.py:322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.actor_data.loc[:, 'Career Start'] = None

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [00:51<00:00,  2.59s/it]

Scraping completed.

,Actor date of birth,Actor gender,Actor height,Actor ethnicity,Actor age at movie release,Actor Score Index,Gender,University,Theater,Sports,Birth City,Date of Birth,Citizenship,Number of Children,Career Start
Actor name,,,,,,,,,,,,,,,
Denzel Washington,1954-12-28,M,1.840,/m/0x67,26.0,10.000000,Male,Fordham University BAAmerican Conservatory The...,Yes,Basketball,Mount Vernon New York US,1954-12-28,None,4,1975
Matt Damon,1970-10-08,M,1.780,/m/0cnvdq1,18.0,9.912690,Male,Harvard University dropped out,Yes,None,Cambridge Massachusetts US,1970-10-08,None,4,1987
Tom Hanks,1956-07-09,M,1.830,/m/02p4q5p,27.0,9.741555,Male,Chabot College,Yes,None,Concord California US,1956-07-09,"United States, Greece1",4,1977
Eddie Murphy,1961-04-03,M,1.750,/m/0x67,21.0,9.415060,Male,None,None,None,New York City US,1961-04-03,None,10,1976
Tom Cruise,1962-07-03,M,1.700,/m/02ctzb,18.0,9.362255,Male,None,None,Football,Syracuse New York US,1962-07-03,None,3,1980
Frank Welker,1946-03-12,M,1.730,NaN,38.0,8.787846,Male,Santa Monica College,None,None,Denver Colorado US,1946-03-12,None,None,1967
Harrison Ford,1942-07-13,M,1.850,/m/01qhm_,38.0,8.450475,Male,None,None,None,Chicago Illinois US,1942-07-13,None,5,1964
James Woods,1947-04-18,M,1.803,NaN,35.0,8.180804,None,None,Yes,None,Vernal Utah US,1947-04-18,None,None,1969
Michelle Pfeiffer,1958-04-29,F,1.710,/m/065b6q,21.0,8.174009,Female,None,None,None,Santa Ana California US,1958-04-29,None,2,1978
Trey Parker,1969-10-19,M,1.850,NaN,27.0,8.156354,Male,University of Colorado Boulder BA,Yes,None,Conifer Colorado US,1969-10-19,None,1,1992
Samuel L. Jackson,1948-12-21,M,1.890,/m/0x67,39.0,8.129855,Male,Morehouse College BA,Yes,None,Washington DC US,1948-12-21,United States Gabon,1,1972
Richard Jenkins,1947-05-04,M,1.850,NaN,38.0,8.063021,Male,Illinois Wesleyan University,Yes,None,DeKalb Illinois US,1947-05-04,None,2,1974
Danny Devito,1944-11-17,M,1.520,/m/0xnvg,39.0,8.004749,Male,American Academy of Dramatic Arts,Yes,None,Neptune New Jersey US,1944-11-17,None,3,1969
Kirsten Dunst,1982-04-30,F,1.700,/m/01qhm_,6.0,7.966812,Female,None,None,None,Point Pleasant New Jersey US,1982-04-30,None,2,1987
Chris Rock,1965-02-07,M,1.800,/m/0x67,22.0,7.965746,Male,None,None,None,Andrews South Carolina,1965-02-07,None,2,1984
Robert De Niro,1943-08-17,M,1.770,/m/0xnvg,37.0,7.958091,Male,None,None,None,New York City US,1943-08-17,United StatesItaly,7,1963
George Clooney,1961-05-06,M,1.800,/m/033tf_,34.0,7.915680,Male,Northern Kentucky University,None,Basketball,Lexington Kentucky US,1961-05-06,None,2,1978
Jim Carrey,1962-01-17,M,1.867,/m/0g8_vp,23.0,7.826027,Male,None,None,None,Newmarket Ontario Canada,1962-01-17,"Canada, United States1",1,1977
Kevin Costner,1955-01-18,M,1.850,/m/09vc4s,30.0,7.776851,Male,California State University Fullerton BA,None,Football,Lynwood California US,1955-01-18,None,7,1978
Stanley Tucci,1960-11-11,M,1.721,/m/0xnvg,29.0,7.767929,Male,State University of New York Purchase BFA,None,Soccer,Peekskill New York US,1960-11-11,None,5,1982