In [43]:
import pandas as pd
df = pd.read_csv('actor_data_for_regression.csv')

In [44]:


import seaborn as sns
import matplotlib.pyplot as plt



df = pd.get_dummies(df,columns = ['Gender', 'Birth Region'])
df.head()

,Actor name,Height,Ethnicity,Age at First Release,Success Score,University,Theater,Sports,Birth City,Citizenship,...,Specialised Drama School,Specialised Acting School,Specialised Dance School,Specialised Arts School,Gender_F,Gender_M,Birth Region_Europe,Birth Region_Rest of World,Birth Region_USA,Birth Region_United Kingdom
0,Denzel Washington,1.84,African Americans,26.0,10.000000,Specialised Drama School,True,Basketball,Mount Vernon New York US,NaN,...,1,0,0,0,False,True,False,False,True,False
1,Matt Damon,1.78,Scandinavian Americans,18.0,9.912690,Harvard University,True,No Sports,Cambridge Massachusetts US,NaN,...,0,0,0,0,False,True,False,False,True,False
2,Tom Hanks,1.83,Portuguese Americans,27.0,9.741555,sub 1500 school,True,No Sports,Concord California US,"United States, Greece1",...,0,0,0,0,False,True,False,False,True,False
3,Eddie Murphy,1.75,African Americans,21.0,9.415060,Did not go,False,No Sports,New York City US,NaN,...,0,0,0,0,False,True,False,False,True,False
4,Tom Cruise,1.70,White people,18.0,9.362255,Did not go,False,Football,Syracuse New York US,NaN,...,0,0,0,0,False,True,False,False,True,False

In [45]:

# Calculate the correlation matrix
corr = df.corr()

# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(corr, annot=True, fmt=".2f", cmap='coolwarm', cbar=True)
plt.title('Heatmap of Feature Correlations')
plt.show()

ValueError: could not convert string to float: 'Denzel Washington'

In [ ]:

## Correlation of Sucess score with other features
corr = df.corr()
corr_success = corr['Success Score']
corr_success = corr_success.sort_values(ascending=False)
corr_success = corr_success.drop('Success Score')
corr_success

In [ ]:

##print different ethnicities

df = pd.read_csv('actor_data_for_regression.csv')
df

In [ ]:
ethnicity_mapping = {
    # African Descent
    'African Americans': 'African Descent',
    'Afro-Asians': 'African Descent',
    'Afro-Guyanese': 'African Descent',
    'Nigerian Americans': 'African Descent',
    'Somalis': 'African Descent',
    'Black Canadians': 'African Descent',
    'Black Britons': 'African Descent',
    'Haitian Americans': 'African Descent',
    'Sudanese Arabs': 'African Descent',
    'Ghanaian': 'African Descent',
    'Black Irish': 'African Descent',
    'Afro-Cuban': 'African Descent',
    'Yoruba people': 'African Descent',
    'Ghanaian Americans': 'African Descent',
    'Black people': 'African Descent',
    'Bahamian Americans': 'African Descent',
    'South African Americans': 'African Descent',
    
    # European Descent
    'Scandinavian Americans': 'European Descent',
    'Portuguese Americans': 'European Descent',
    'German Americans': 'European Descent',
    'Swedish Americans': 'European Descent',
    'Italian Americans': 'European Descent',
    'Irish Americans': 'European Descent',
    'English Americans': 'European Descent',
    'Scottish Americans': 'European Descent',
    'Austrians': 'European Descent',
    'Scottish people': 'European Descent',
    'Irish people': 'European Descent',
    'English people': 'European Descent',
    'White people': 'European Descent',
    'White Americans': 'European Descent',
    'Italians': 'European Descent',
    'Slovak Americans': 'European Descent',
    'Lithuanian Americans': 'European Descent',
    'Anglo-Irish people': 'European Descent',
    'Swedes': 'European Descent',
    'Albanian Americans': 'European Descent',
    'British': 'European Descent',
    'Russian Americans': 'European Descent',
    'Irish migration to Great Britain': 'European Descent',
    'Serbian Americans': 'European Descent',
    'British Americans': 'European Descent',
    'Polish Americans': 'European Descent',
    'French Americans': 'European Descent',
    'Welsh people': 'European Descent',
    'Scotch-Irish Americans': 'European Descent',
    'Dutch Americans': 'European Descent',
    'Greek Canadians': 'European Descent',
    'Irish Australians': 'European Descent',
    'Spaniards': 'European Descent',
    'French': 'European Descent',
    'Germans': 'European Descent',
    'Romani people': 'European Descent',
    'Baltic Russians': 'European Descent',
    'French Canadians': 'European Descent',
    'Catalans': 'European Descent',
    'Czech Americans': 'European Descent',
    'European Americans': 'European Descent',
    'Croatian Americans': 'European Descent',
    'Swedish Canadians': 'European Descent',
    'White British': 'European Descent',
    'Serbian Canadians': 'European Descent',
    'British Jamaicans': 'European Descent',
    'Argentines': 'European Descent',
    'Dutch Australian': 'European Descent',
    'Colombian Americans': 'European Descent',  # Mixed Hispanic/Latino + European
    'Poles': 'European Descent',
    'Russian Canadians': 'European Descent',
    'Rusyn American': 'European Descent',
    'Dutch Canadians': 'European Descent',
    'Polish Australians': 'European Descent',
    'Italian Australians': 'European Descent',
    'Austrians in the United Kingdom': 'European Descent',
    'Bulgarian Canadians': 'European Descent',
    'French Chilean': 'European Descent',
    'German Canadians': 'European Descent',
    'Corsicans': 'European Descent',
    'Sicilian Americans': 'European Descent',
    'Swiss': 'European Descent',
    'Dutch': 'European Descent',
    'English Australians': 'European Descent',
    'Irish Canadians': 'European Descent',
    'Icelanders': 'European Descent',
    'Anglo-Celtic Australians': 'European Descent',
    'Slovene Americans': 'European Descent',
    'Croatian Australians': 'European Descent',
    'British Asians': 'European Descent',
    'British Chinese': 'European Descent',
    'Greek Americans': 'European Descent',
    'Norwegian Americans': 'European Descent',
    'Croats': 'European Descent',
    'Italian Canadians': 'European Descent',
    'Russians': 'European Descent',
    'Hungarian Americans': 'European Descent',
    'Serbs of Croatia': 'European Descent',
    'Welsh Americans': 'European Descent',
    'Spanish Americans': 'European Descent',
    'Danish Americans': 'European Descent',
    'Danes': 'European Descent',
    'Scottish Canadians': 'European Descent',
    'Ukrainian Americans': 'European Descent',
    'Czechs': 'European Descent',
    'Romanian Americans': 'European Descent',
    'Americans': 'European Descent',

    # Jewish Descent
    'Jewish people': 'Jewish Descent',
    'American Jews': 'Jewish Descent',
    'Ashkenazi Jews': 'Jewish Descent',
    'Sephardi Jews': 'Jewish Descent',
    'African-American Jews': 'Jewish Descent',
    'British Jews': 'Jewish Descent',
    'Israeli Americans': 'Jewish Descent',
    'Mizrahi Jews': 'Jewish Descent',
    'History of the Jews in Morocco': 'Jewish Descent',
    'Israelis': 'Jewish Descent',
    
    # Indigenous Descent
    'Cajun': 'Indigenous Peoples',
    'Cherokee': 'Indigenous Peoples',
    'Māori': 'Indigenous Peoples',
    'Apache': 'Indigenous Peoples',
    'Mohawk': 'Indigenous Peoples',
    'Ojibwe': 'Indigenous Peoples',
    'Choctaw': 'Indigenous Peoples',
    'Lumbee': 'Indigenous Peoples',
    'First Nations': 'Indigenous Peoples',
    'Inuit': 'Indigenous Peoples',
    'Iñupiaq people': 'Indigenous Peoples',
    'Cree': 'Indigenous Peoples',
    'Native Americans in the United States': 'Indigenous Peoples',
    'Blackfoot Confederacy': 'Indigenous Peoples',
    'Native Hawaiians': 'Indigenous Peoples',
    'Indigenous peoples of the Americas': 'Indigenous Peoples',

    
    # Australian Descent
    'Australians': 'Oceanic Descent',
    'Australian Americans': 'Oceanic Descent',
    'Samoan Americans': 'Oceanic Descent',
    'Kiwi': 'Oceanic Descent',
    
    # Asian Descent
    'Hongkongers': 'Asian Descent',
    'Japanese Americans': 'Asian Descent',
    'Indians': 'Asian Descent',
    'Chinese Americans': 'Asian Descent',
    'Hmong Americans': 'Asian Descent',
    'Taiwanese Americans': 'Asian Descent',
    'Taiwanese people': 'Asian Descent',
    'Cambodian Americans': 'Asian Descent',
    'Indonesian Americans': 'Asian Descent',
    'Vietnamese Americans': 'Asian Descent',
    'Bengali': 'Asian Descent',
    'Punjabi diaspora': 'Asian Descent',
    'Gujarati people': 'Asian Descent',
    'Filipino mestizo': 'Asian Descent',
    'Filipino people': 'Asian Descent',
    'Indian Americans': 'Asian Descent',
    'Syrian Americans': 'Asian Descent',  # Middle Eastern, but often grouped under broader Asian categories
    'Japanese people': 'Asian Descent',
    'Koreans': 'Asian Descent',
    'Korean Americans': 'Asian Descent',
    'Asian Americans': 'Asian Descent',
    'Asian people': 'Asian Descent',
    'Chinese Canadians': 'Asian Descent',
    'Chinese Singaporeans': 'Asian Descent',
    'Malaysian Chinese': 'Asian Descent',
    'Tamil Americans': 'Asian Descent',

    
    # Hispanic/Latino Descent
    'Hispanic and Latino Americans': 'Hispanic/Latino Descent',
    'Stateside Puerto Ricans': 'Hispanic/Latino Descent',
    'Cuban Americans': 'Hispanic/Latino Descent',
    'Mexicans': 'Hispanic/Latino Descent',
    'Mexican Americans': 'Hispanic/Latino Descent',
    'Dominican Americans': 'Hispanic/Latino Descent',
    'Venezuelans': 'Hispanic/Latino Descent',
    'Ecuadorian Americans': 'Hispanic/Latino Descent',
    'Salvadoran Americans': 'Hispanic/Latino Descent',
    'Colombians': 'Hispanic/Latino Descent',
    'Bolivian Americans': 'Hispanic/Latino Descent',
    'Spanish people of Filipino ancestry': 'Hispanic/Latino Descent',
    'Puerto Ricans': 'Hispanic/Latino Descent',
    'Criollo people': 'Hispanic/Latino Descent',
    'Brazilian Americans': 'Hispanic/Latino Descent',
    'Hispanics': 'Hispanic/Latino Descent',
    
    # Mixed or Multiracial
    'multiracial Americans': 'Mixed/Multiracial',
    'Afro Trinidadians and Tobagonians': 'Mixed/Multiracial',
    'multiracial people': 'Mixed/Multiracial',
    'Indo Caribbeans': 'Mixed/Multiracial',
    'Louisiana Creole people': 'Mixed/Multiracial',
    'Eurasian': 'Mixed/Multiracial',
    'White Africans of European ancestry': 'Mixed/Multiracial',
    

    # Middle Eastern and North African (MENA) Descent
    'Arab Americans': 'Middle Eastern/North African Descent',
    'Lebanese Americans': 'Middle Eastern/North African Descent',
    'Moroccan Americans': 'Middle Eastern/North African Descent',
    'Arabs in Bulgaria': 'Middle Eastern/North African Descent',
    'Pathani': 'Middle Eastern/North African Descent',
    'Dinka people': 'Middle Eastern/North African Descent',
    'Turkish Americans': 'Middle Eastern/North African Descent',
    'Iranian peoples': 'Middle Eastern/North African Descent',
    'مسح': 'Middle Eastern/North African Descent',
    
}



df.Ethnicity = df.Ethnicity.map(ethnicity_mapping)

In [ ]:
print(df.Ethnicity.value_counts())
df.head()

In [ ]:
## Print num of rows with undefined
print(df.shape)

In [ ]:
df = df.dropna(subset=['Ethnicity'])
print(df.shape)

print(df.Ethnicity.unique())

In [ ]:
df = pd.get_dummies(df,columns = ['Gender', 'Birth Region', 'Ethnicity'])

In [ ]:
corr = df.corr()
corr_success = corr['Success Score']
corr_success = corr_success.sort_values(ascending=False)
corr_success = corr_success.drop('Success Score')
corr_success

# Regression

In [ ]:
df = pd.read_csv('actor_data_for_regression.csv')

df['Sports'].value_counts()

In [125]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from src.data.correlation import ethnicity_to_group


df = pd.read_csv('actor_data_for_regression.csv')
df = ethnicity_to_group(df)
df = df.drop(['Actor name', 'Usable Uni Rank', 'Citizenship', 'QS University Rank', 'Birth City', 'University',], axis=1)


# One-hot encode categorical variables
df = pd.get_dummies(df,columns = ['Gender', 'Birth Region', 'Ethnicity', 'Sports', 'Birth Month'])
df

,Height,Age at First Release,Success Score,Theater,Number of Children,Birth Year,Ranked Uni,Specialised Drama School,Specialised Acting School,Specialised Dance School,...,Birth Month_December,Birth Month_February,Birth Month_January,Birth Month_July,Birth Month_June,Birth Month_March,Birth Month_May,Birth Month_November,Birth Month_October,Birth Month_September
0,1.840,26.0,10.000000,True,4.0,1954.0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1.780,18.0,9.912690,True,4.0,1970.0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1.830,27.0,9.741555,True,4.0,1956.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1.750,21.0,9.415060,False,10.0,1961.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.700,18.0,9.362255,False,3.0,1962.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520,1.710,29.0,1.786282,True,1.0,1955.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6522,1.676,59.0,1.774135,False,1.0,1927.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6535,1.840,26.0,0.915104,False,NaN,1969.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6536,1.613,26.0,0.838557,False,6.0,1958.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6538,1.910,41.0,0.000000,True,2.0,1940.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [126]:
df.dropna(inplace=True)
df.shape

(1460, 50)

In [127]:

# Define features and target variable
X = df.drop(columns=['Success Score'])
y = df['Success Score']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 0.7621497896566597
R^2 Score: -0.013920693486778601

In [132]:
new_data = {
    'Gender': ['M'],
    'Birth Region': ['USA'],
    'Number of Children': [4],
    'Sports': ['Football'],
    'Ranked Uni': [1],
    'Birth Month': ['December'],
    'Theater': [1],
    'Specialised Acting School': [0],
    'Specialised Dance School' : [0],
    'Specialised Arts School': [0],
    'Specialised Drama School': [0],
    'Birth Year': [1980],
    'Age at First Release': [12],
    'Ethnicity': ['European Descent'],
    # Add other necessary features with appropriate values
}

In [133]:
# Convert new data to DataFrame
new_df = pd.DataFrame(new_data)

# Encode new data
new_df = pd.get_dummies(new_df, columns=['Gender', 'Birth Region', 'Ethnicity', 'Sports', 'Birth Month'])

# Align new data with training data columns
new_df = new_df.reindex(columns=X_train.columns, fill_value=0)

# Make prediction
new_prediction = model.predict(new_df)
print(f'Predicted Success Score: {new_prediction[0]}')

Predicted Success Score: 6.554512391298328