In [4]:
import pandas as pd
df = pd.read_csv('actor_data_for_regression.csv')

In [5]:


import seaborn as sns
import matplotlib.pyplot as plt



df = pd.get_dummies(df,columns = ['Gender', 'Birth Region'])
df.head()

,Unnamed: 0,Actor name,Height,Ethnicity,Age at First Release,Success Score,University,Theater,Sports,Birth City,...,Specialised Drama School,Specialised Acting School,Specialised Dance School,Specialised Arts School,Gender_F,Gender_M,Birth Region_Europe,Birth Region_Rest of World,Birth Region_USA,Birth Region_United Kingdom
0,0,Denzel Washington,1.84,African Americans,26.0,10.000000,Specialised Drama School,True,Basketball,Mount Vernon New York US,...,1,0,0,0,False,True,False,False,True,False
1,1,Matt Damon,1.78,Scandinavian Americans,18.0,9.912690,Harvard University,True,No Sports,Cambridge Massachusetts US,...,0,0,0,0,False,True,False,False,True,False
2,2,Tom Hanks,1.83,Portuguese Americans,27.0,9.741555,sub 1500 school,True,No Sports,Concord California US,...,0,0,0,0,False,True,False,False,True,False
3,3,Eddie Murphy,1.75,African Americans,21.0,9.415060,Did not go,False,No Sports,New York City US,...,0,0,0,0,False,True,False,False,True,False
4,4,Tom Cruise,1.70,White people,18.0,9.362255,Did not go,False,Football,Syracuse New York US,...,0,0,0,0,False,True,False,False,True,False

In [6]:

# Calculate the correlation matrix
corr = df.corr()

# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(corr, annot=True, fmt=".2f", cmap='coolwarm', cbar=True)
plt.title('Heatmap of Feature Correlations')
plt.show()

ValueError: could not convert string to float: 'Denzel Washington'

In [13]:

## Correlation of Sucess score with other features
corr = df.corr()
corr_success = corr['Success Score']
corr_success = corr_success.sort_values(ascending=False)
corr_success = corr_success.drop('Success Score')
corr_success

ValueError: could not convert string to float: 'Denzel Washington'